.slidebar {
  flex: 0.35;
  background-color: white;
}
.slide__header {
  display: flex;
  justify-content: space-between;
  border-right: 1px solid lightgray;
  padding: 10px;
  background-color: #ededed;
}
.slide__header_right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 10vw;
}

.slide__search {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  height: 40px;
  padding: 10px;
}

.slide__searchContainer {
  display: flex;
  align-items: center;
  background-color: #fff;
  height: 35px;
  border-right: 20px;
  flex: 1;
}
.slide__searchContainer input {
  outline: none;
  border-radius: 10px;
  border: none;
  color: #000;
  margin-left: 10px;
}

.Chat_Slide {
  display: flex;
  background-color: #fff;
  flex-direction: column;
}

.slide__chat {
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
  padding: 10px;
  
 
  border-radius: 4px;
  cursor: pointer;
}

.slide__chat:hover {
  background-color: #ededed;
  
 
  border-radius: 4px;
}

.Chat__text {
  margin-left: 10px;
}

.slide__chat > h3{
  font-size: 20px;
  margin-left: 10px;
}
.slide__chat .MuiAvatar-circular{
      width: 30px;
      height: 30px;
}